In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kupang,ID,2022-01-30 16:05:19,-10.1667,123.5833,79.99,85,100,13.51
1,1,Abong Mbang,CM,2022-01-30 16:10:16,3.9833,13.1833,92.08,14,87,3.65
2,2,Waddan,LY,2022-01-30 16:10:17,29.1614,16.1390,54.59,43,29,13.80
3,3,Busselton,AU,2022-01-30 16:11:03,-33.6500,115.3333,66.09,76,0,18.14
4,4,Puerto Carreno,CO,2022-01-30 16:10:04,6.1890,-67.4859,91.36,31,71,13.62

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [19]:
#Heat map of tempurature
#Get the lat lng
locations = city_data_df[["Lat", "Lng"]]
#Get the max temp
max_temp = city_data_df["Max Temp"]
#If temp is less than 0, make 0
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
#Assign figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temps],
                                dissipating=False, max_intensity=300, point_radius=4)
#Add heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Heatmap for cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.00, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#Heatmap for wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.00, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
#Ask customers to add min and max temps for vacation
min_temp = float(input("What is the minimum tempurature you would like for your trip?"))
max_temp = float(input("What is the maximum tempurature you would like for your trip?"))

What is the minimum tempurature you would like for your trip?75
What is the maximum tempurature you would like for your trip?90

In [33]:
#filter data set to find optimal cities for the customer
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kupang,ID,2022-01-30 16:05:19,-10.1667,123.5833,79.99,85,100,13.51
6,6,Tessalit,ML,2022-01-30 16:10:18,20.1986,1.0114,84.20,10,4,13.91
8,8,Georgetown,MY,2022-01-30 16:08:59,5.4112,100.3354,84.13,80,20,0.00
10,10,Bredasdorp,ZA,2022-01-30 16:10:20,-34.5322,20.0403,80.28,64,8,17.11
13,13,Bambous Virieux,MU,2022-01-30 16:08:39,-20.3428,57.7575,81.21,78,48,18.01
...,...,...,...,...,...,...,...,...,...,...
557,557,Pundaguitan,PH,2022-01-30 16:26:37,6.3711,126.1689,80.71,79,24,12.01
561,561,Palu,ID,2022-01-30 16:26:39,-0.8917,119.8707,76.46,95,100,1.36
562,562,Gigmoto,PH,2022-01-30 16:26:39,13.7796,124.3900,76.05,90,30,2.55
568,568,Kendari,ID,2022-01-30 16:26:42,-3.9450,122.4989,78.62,85,79,3.56
570,570,San Juan De Uraba,CO,2022-01-30 16:26:42,8.7592,-76.5297,79.11,76,88,10.76

In [34]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [35]:
preferred_cities_df.count()

City_ID       159
City          159
Country       157
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [36]:
preferred_cities_df = preferred_cities_df.dropna()

In [37]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [70]:
#Create new data frame
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df

                  City Country  Max Temp      Lat       Lng Hotel Name
0               Kupang      ID     79.99 -10.1667  123.5833
6             Tessalit      ML     84.20  20.1986    1.0114
8           Georgetown      MY     84.13   5.4112  100.3354
10          Bredasdorp      ZA     80.28 -34.5322   20.0403
13     Bambous Virieux      MU     81.21 -20.3428   57.7575
..                 ...     ...       ...      ...       ...        ...
557        Pundaguitan      PH     80.71   6.3711  126.1689
561               Palu      ID     76.46  -0.8917  119.8707
562            Gigmoto      PH     76.05  13.7796  124.3900
568            Kendari      ID     78.62  -3.9450  122.4989
570  San Juan De Uraba      CO     79.11   8.7592  -76.5297

[157 rows x 6 columns]

In [71]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

In [72]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?params"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab first result and put in data frame
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [73]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kupang,ID,79.99,-10.1667,123.5833,Hotel On The Rock by Prasanthi
6,Tessalit,ML,84.20,20.1986,1.0114,
8,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
10,Bredasdorp,ZA,80.28,-34.5322,20.0403,Bredasdorp Country Manor
13,Bambous Virieux,MU,81.21,-20.3428,57.7575,Casa Tia Villa
...,...,...,...,...,...,...
557,Pundaguitan,PH,80.71,6.3711,126.1689,Leonardo Family Beach House 1
561,Palu,ID,76.46,-0.8917,119.8707,Hotel Santika Palu
562,Gigmoto,PH,76.05,13.7796,124.3900,Cj's Travellers Inn
568,Kendari,ID,78.62,-3.9450,122.4989,Hotel Wixel
570,San Juan De Uraba,CO,79.11,8.7592,-76.5297,Hotel Cerro De Zumba

In [74]:
#Heatmap for hotels
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.00, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [76]:
#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [77]:
#Heatmap for hotels with popup boxes
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.00, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))